parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type Closure supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Assertions.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertFalse\(\) with false will always evaluate to false\.$#'
			identifier: staticMethod.impossibleType
			count: 1
			path: src/Assertions.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with false and string will always evaluate to false\.$#'
			identifier: staticMethod.impossibleType
			count: 1
			path: src/Assertions.php

		-
			message: '#^Method Spectator\\Assertions\:\:expectsFalse\(\) invoked with 2 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 5
			path: src/Assertions.php

		-
			message: '#^Method Spectator\\Assertions\:\:expectsTrue\(\) invoked with 3 parameters, 0 required\.$#'
			identifier: arguments.count
			count: 2
			path: src/Assertions.php

		-
			message: '#^Method Spectator\\Assertions\:\:runAssertion\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 7
			path: src/Assertions.php

		-
			message: '#^PHPDoc tag @mixin contains generic class Illuminate\\Testing\\TestResponse but does not specify its types\: TResponse$#'
			identifier: missingType.generics
			count: 1
			path: src/Assertions.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\|null, Closure given\.$#'
			identifier: argument.type
			count: 1
			path: src/Assertions.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Exceptions/SchemaValidationException.php
